*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top:200px;
    display: flex;
    background-color: rgb(31, 80, 184);
    font: normal 15pt Arial;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.itens{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 15px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438)
}